{% extends 'base.html' %}
{% block content %}
    <main>
        <section id="connect-section">
            <div class="head-container">
                <h1>Connect, Learn, Grow.</h1>
                <p>Deep v gorpcore vegan whatever bitters glossier 
                    vape stumptown same you probably haven't heard of 
                    them master cleanse marfa swag
                </p>
            </div>
            <div class="experience-container">
                <div>
                    <h3>Farms</h3>
                    <ul>
                        <li>Irony before sold out</li>
                        <li>tumeric, disrupt rights</li>
                        <li>sartorial butcher adaptogen</li>
                    </ul>
                </div>
                <div>
                    <h3>Apprentices</h3>
                    <ul>
                        <li>Irony before they out</li>
                        <li>tumeric, disrupt bicycle</li>
                        <li>sartorial butcher</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="big-number-section">
            <!-- big numbers -->
            <div><p><span>500</span></p><p>lorem lorem</p></div>
            <div><p><span>98%</span></p><p>Ipsum ipsum</p></div>
            <div><p><span>200+</span></p><p>delor delor</p></div>
        </section>
        <section id="how-it-works-section">
            <h3>How Shepherd Works</h3>
            <div>
                <div>
                    <img src="#" alt="#">
                    <h4>For apprentices</h4>
                    <p>Bruh neutral milk hotel hella 
                        thundercats letterpress pabst 
                        actually gastropub raclette fashion axe. 
                        Thundercats chartreuse shoreditch pop-up copper 
                        mug lomo messenger bag aesthetic chambray 
                        meditation pok pok gatekeep iPhone seitan.</p>
                </div>
                <div>
                    <img src="#" alt="#">
                    <h4>For apprentices</h4>
                    <p>Bruh neutral milk hotel hella 
                        thundercats letterpress pabst 
                        actually gastropub raclette fashion axe. 
                        Thundercats chartreuse shoreditch pop-up copper 
                        mug lomo messenger bag aesthetic chambray 
                        meditation pok pok gatekeep iPhone seitan.</p>
                </div>
            </div>
        </section>
        <section id="call-to-action-section">
            <h3>Call to action</h3>
            <div>
                <a href="#">Sign up as apprentice</a>
                <a href="#">Sign up as farm owner</a>
            </div>
        </section>
    </main>
{% endblock %}